lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

logs
tmp
img

# API keys and secrets
.env

# Dependency directory
node_modules/

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
build/**/*